<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6"style="border: 1px solid red; padding-bottom: 10px;">
      <div class="col-md-3"></div>
     <div class="col-md-9">
<p>JiraphonNeeti@gmail.com</p>
      <p>089-979-1358</p>
     </div>
    </div>
    <div class="col-md-4 col-sm-6"style="border: 1px solid red;    padding-bottom: 10px;">
       <div class="col-md-2"></div>
     <div class="col-md-10">
      <p>27/1 Seree 1 Village</p>
      <p> Soi Ramkhamhaeng 24 intersertion 22 </p>
      <p> Bangkapi Bankgkok 10250</p></div>
    </div>
    <div class="col-md-4 col-sm-6"style="border: 1px solid red;    padding-bottom: 10px;">
       <div class="col-md-3"></div>
     <div class="col-md-9">
      <p>Github</p></div>
    </div>
  </div>
 <div class="vh-4"></div>
</div>
