<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="footer-item">
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <p>JiraphonNeeti@gmail.com</p>
          </div>
          <div class="footer-item">
            <div class="icon"><i class="fa fa-mobile"></i></div>
            <p>089-979-1358</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="footer-item">
            <div class="icon"><i class="fa fa-location-arrow"></i></div>
            <p>27/1 Seree 1 Village</p>
            <p> Soi Ramkhamhaeng 24 intersertion 22 </p>
            <p> Bangkapi Bankgkok 10250</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="footer-item">
            <div class="icon"><i class="fa fa-github"></i></div>
            <a href="https://github.com/NightThinker">Github</a>
          </div>
          <div class="footer-item">
            <div class="icon"><i class="fa fa-facebook"></i></div>
            <a href="https://www.facebook.com/IchimaruGinjung">Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>