@import '../scss/fonts';
@import '../scss/mixins';
@import '../scss/colors';

.navbar-default {
  background-color: transparent;
  border: 1px solid #444;
  z-index: 110;
  @include transition(all 1s);
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: $raleway;
    @include transition(all 1s);
}
.navbar-default .navbar-nav > li > a:hover{
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus{
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 10px;
    img {
        @include transition(all 1s);
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #129CF3;
    background-color:transparent;
}









// ===================================

body {
  font-family: 'Lato', sans-serif;
}
.container {
  padding-left: 5px;
  padding-right: 10px;
}

// .navbar {
//   margin-bottom: 0;
// }

/* navbar */
// .navbar-default {
//     background-color: #568ebb;
//     border-color: #457DAA;
// }
/* Title */
// .navbar-default .navbar-brand {
//     color: #f7f4f3;
// }
// .navbar-default .navbar-brand:hover,
// .navbar-default .navbar-brand:focus {
//     color: #fff;
// }
/* Link */
// .navbar-default .navbar-nav > li > a {
//     color: #f7f4f3;
// }
// .navbar-default .navbar-nav > li > a:hover,
// .navbar-default .navbar-nav > li > a:focus {
//     color: #fff;
// }
// .navbar-default .navbar-nav > .active > a,
// .navbar-default .navbar-nav > .active > a:hover,
// .navbar-default .navbar-nav > .active > a:focus {
//     color: #fff;
//     background-color: #6B9CC4;
// }
// .navbar-default .navbar-nav > .open > a,
// .navbar-default .navbar-nav > .open > a:hover,
// .navbar-default .navbar-nav > .open > a:focus {
//     color: #555;
//     background-color: #D5D5D5;
// }
/* Caret */
// .navbar-default .navbar-nav > .dropdown > a .caret {
//     border-top-color: #f7f4f3;
//     border-bottom-color: #f7f4f3;
// }
//   .navbar-default .navbar-nav > .dropdown > a:hover .caret,
// .navbar-default .navbar-nav > .dropdown > a:focus .caret {
//     border-top-color: #333;
//     border-bottom-color: #333;
// }
// .navbar-default .navbar-nav > .open > a .caret,
// .navbar-default .navbar-nav > .open > a:hover .caret,
// .navbar-default .navbar-nav > .open > a:focus .caret {
//     border-top-color: #555;
//     border-bottom-color: #555;
// }
/* Mobile version */
// .navbar-default .navbar-toggle {
//     border-color: #457DAA;
// }
// .navbar-default .navbar-toggle:hover,
// .navbar-default .navbar-toggle:focus {
//     background-color: #6B9CC4;
// }
// .navbar-default .navbar-toggle .icon-bar {
//     background-color: #CCC;
// }
// @media (max-width: 767px) {
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//         color: #f7f4f3;
//     }
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
//           color: #fff;
//     }
// }
