<div class="home" >
  <div class="container">
  <div class="project-grid" >
    <ul>
      <li class="grid-item grid-position" [@listSea]>
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background  raised" style="background-image: url('../../../assets/images/sea_water_waves_84378.jpg'); background-size: cover">
              <!--<img src="{{ seas.imagePath }}" alt="">-->
            </div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background raised" style="background-image: url('../../../assets/images/sea_ocean_coast_dogs.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position">
        <div class="project  drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <!-- <div class="background  drop-shadow raised">
              <video width="100%" autoplay loop>
              <source
              src="../../../assets/video/sea_10004.mp4"
              type="video/mp4">
              </video>
            </div> -->
            <div class="background raised" style="background-image: url('../../../assets/images/sea_sports_wave.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background raised" style="background-image: url('../../../assets/images/sea_surf_foam.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background raised" style="background-image: url('../../../assets/images/sea_beach_stones_109960.jpg');"></div>
          </a>
        </div>
      </li>

      <li class="grid-item grid-position-center">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <!-- <div class="background raised">
              <video width="100%" autoplay loop>
                <source
                  src="../../../assets/video/sea_362.mp4"
                  type="video/mp4">
              </video>
            </div> -->
            <div class="background raised" style="background-image: url('../../../assets/images/sea_sky_stone_summer.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background raised" style="background-image: url('../../../assets/images/sea_stones_day.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background raised" style="background-image: url('../../../assets/images/sea_sunflowers_girl_waves_69951.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position">
        <div class="project drop-shadow">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background raised" style="background-image: url('../../../assets/images/sea_sail_ship_clouds_95514.jpg');"></div>
          </a>
        </div>
      </li>


    </ul>
</div>
</div>
</div>

<!-- <div class="home">
  <div class="container">
      
  </div>
</div> -->