<div class="container">
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" [@listSea] appAnima>test</li>
      <li class="list-group-item" [@listSea]>test1</li>
      <li class="list-group-item">test2</li>
    </ul>
  </div>
</div>
</div>



<div class="home" >
  <div class="project-grid" >
    <ul>
      <li class="grid-item grid-position" [@listSea]>
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_water_waves_84378.jpg'); background-size: cover">
              <!--<img src="{{ seas.imagePath }}" alt="">-->
            </div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_ocean_coast_dogs.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background">
              <video width="100%" autoplay loop>
              <source
              src="../../../assets/video/sea_10004.mp4"
              type="video/mp4">
              </video>
            </div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center">
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_surf_foam.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_beach_stones_109960.jpg');"></div>
          </a>
        </div>
      </li>

      <li class="grid-item grid-position-center" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background">
              <video width="100%" autoplay loop>
                <source
                  src="../../../assets/video/sea_362.mp4"
                  type="video/mp4">
              </video>
            </div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_stones_day.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_sunflowers_girl_waves_69951.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position" >
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_sail_ship_clouds_95514.jpg');"></div>
          </a>
        </div>
      </li>
      <li class="grid-item grid-position-center">
        <div class="project">
          <a href="#" class="inner touch-layout grid-pad">
            <div class="background" style="background-image: url('../../../assets/images/sea_ocean_beach_rock_92633.jpg');"></div>
          </a>
        </div>
      </li>


    </ul>




  <!--<div class="row">-->
    <!--<div class="col-lg-6 col-sm-6">-->
      <!--<div class="thumbnail">-->
        <!--<video width="100%" autoplay loop>-->
          <!--<source-->
            <!--src="../../assets/video/sea_362.mp4"-->
            <!--type="video/mp4">-->
        <!--</video>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
      <!--<div class="thumbnail">-->
        <!--<p>There are many beautiful beaches and islands dotting along the coast of Andaman Sea in South-West part of Thailand. This area is said to be one of the most attractive seashore of the country - home to some of the best resort towns in the world like Phuket, Khao Lak, and Krabi, as well as hundreds of marvelous islands, which allure travelers from around the world to discover its charms.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
      <!--<div class="thumbnail clear-big">-->
        <!--<img src="../../assets/images/sea_ocean_coast_dogs.jpg">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
      <!--<div class="thumbnail clear-big">-->
        <!--<img src="../../assets/images/sea_beach_stones_109960.jpg">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
      <!--<div class="thumbnail">-->
        <!--<video width="100%" autoplay loop>-->
          <!--<source-->
            <!--src="../../assets/video/sea_10004.mp4"-->
            <!--type="video/mp4">-->
        <!--</video>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6 col-sm-6">-->
      <!--<div class="thumbnail">-->
        <!--<img src="../../assets/images/sea_stones_day.jpg">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->



</div>
</div>

<!--<div class="home animate-out">-->
  <!--<div class="project-grid" id="content" style="position: relative;height: 2305px;">-->
    <!--<div class="grid-sizer">-->

    <!--</div>-->
    <!--<ul>-->
      <!--<li class="grid-item" style="position: absolute; left: 0%; top: 0px; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">-->
        <!--<div class="project" data-title="3fe" style="background-color:#000000">-->
          <!--<a href="http://workgroup.studio/3fe" class="inner touch-layout grid-pad">-->
            <!--<div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/WorkGroup_CUPS-Floating.jpg?mtime=20170217023821');">-->
            <!--</div>-->
          <!--</a>-->
        <!--</div><h3 class="hide-on-desktops text-large text-left">-->
        <!--<a href="http://workgroup.studio/3fe">3fe</a></h3>-->
        <!--<ul class="hide-on-desktops inline-comma">-->
          <!--<li class="text-grey ul text-large subtitle-tag">identity</li>-->
          <!--<li class="text-grey ul text-large subtitle-tag">packaging</li>-->
          <!--<li class="text-grey ul text-large subtitle-tag">interactive</li>-->
          <!--<li class="text-grey ul text-large subtitle-tag">print</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="grid-item" style="position: absolute; left: 50%; top: 0px; opacity: 1;">-->
        <!--<div class="project" data-title="Demonware" style="background-color:#000000">-->
          <!--<a href="http://workgroup.studio/demonware" class="inner touch-layout grid-pad">-->
            <!--<div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/demonware-identity-sq.002c.jpg?mtime=20170309010008');">-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
        <!--<h3 class="hide-on-desktops text-large text-left">-->
          <!--<a href="http://workgroup.studio/demonware">Demonware</a>-->
        <!--</h3>-->
        <!--<ul class="hide-on-desktops inline-comma">-->
          <!--<li class="text-grey ul text-large subtitle-tag">identity</li>-->
          <!--<li class="text-grey ul text-large subtitle-tag">environmental</li>-->
          <!--<li class="text-grey ul text-large subtitle-tag">interactive</li>-->
          <!--<li class="text-grey ul text-large subtitle-tag">print</li>-->
        <!--</ul></li>-->
      <!--<li class="grid-item" style="position: absolute; left: 0%; top: 374px; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">-->
        <!--<div class="project" data-title="Neither Here nor There" style="background-color:#000000">-->
  <!--<a href="http://workgroup.studio/oliver-jeffers" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/2012-11.08-OJ-Neither-39-straightened-square-crop.jpg?mtime=20170217010249');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/oliver-jeffers">Neither Here nor There</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">publication</li><li class="text-grey ul text-large subtitle-tag">print</li></ul></li><li class="grid-item" style="position: absolute; left: 50%; top: 519px; opacity: 1;"><div class="project" data-title="Open House Dublin" style="background-color:#000001">-->
  <!--<a href="http://workgroup.studio/open-house-dublin" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/ohd.png?mtime=20170215002026');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/open-house-dublin">Open House Dublin</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">identity</li><li class="text-grey ul text-large subtitle-tag">interactive</li><li class="text-grey ul text-large subtitle-tag">print</li></ul></li><li class="grid-item" style="position: absolute; left: 0%; top: 748px; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;"><div class="project" data-title="I Zii" style="background-color:#000000">-->
  <!--<a href="http://workgroup.studio/i-zii" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/izii-book-alt.001.jpg?mtime=20170320123155');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/i-zii">I Zii</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">publication</li><li class="text-grey ul text-large subtitle-tag">print</li></ul></li><li class="grid-item" style="position: absolute; left: 50%; top: 893px; opacity: 1;"><div class="project" data-title="Teac Damsa" style="background-color:#000001">-->
  <!--<a href="http://workgroup.studio/teac-damsa" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/TeacDamsa-logo-xl.gif?mtime=20170215001316');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/teac-damsa">Teac Damsa</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">identity</li><li class="text-grey ul text-large subtitle-tag">print</li></ul></li><li class="grid-item" style="position: absolute; left: 0%; top: 1267px; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;"><div class="project" data-title="Names" style="background-color:#000000">-->
  <!--<a href="http://workgroup.studio/names" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/names-portfolio-03b.jpg?mtime=20170321110223');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/names">Names</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">identity</li><li class="text-grey ul text-large subtitle-tag">interactive</li><li class="text-grey ul text-large subtitle-tag">print</li></ul></li><li class="grid-item" style="position: absolute; left: 50%; top: 1267px; opacity: 1;"><div class="project" data-title="Alice Maher" style="background-color:#000000">-->
  <!--<a href="http://workgroup.studio/alice-maher" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/Project-Thumbnail-Image_170227_140801.jpg?mtime=20170227140759');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/alice-maher">Alice Maher</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">interactive</li></ul></li><li class="grid-item" style="position: absolute; left: 0%; top: 1641px; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;"><div class="project" data-title="Christmas Stamps" style="background-color:#000000">-->
  <!--<a href="http://workgroup.studio/christmas-stamps" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/anpost-christmas2016-stamp1.jpg?mtime=20170220175825');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/christmas-stamps">Christmas Stamps</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">print</li></ul></li><li class="grid-item" style="position: absolute; left: 50%; top: 1786px; opacity: 1;"><div class="project" data-title="Kilkenny Lightwall" style="background-color:#000000">-->
  <!--<a href="http://workgroup.studio/kilkenny-lightwall" class="inner touch-layout grid-pad"><div class="background" style="background-image: url('http://s3-eu-west-1.amazonaws.com/workgroup.media/_squareSmall/KA_LB_20-crop.jpg?mtime=20170216215418');"></div>-->
  <!--</a></div><h3 class="hide-on-desktops text-large text-left"><a href="http://workgroup.studio/kilkenny-lightwall">Kilkenny Lightwall</a></h3><ul class="hide-on-desktops inline-comma"><li class="text-grey ul text-large subtitle-tag">environmental</li></ul></li></ul></div></div>-->

