

.responsive-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.content {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.home {
  width: 100%;
  max-width: 100%;
  float: left;
  padding: 6vh 5px 0;
  box-sizing: border-box;
}

/*===========grid================*/
ol, ul {
  list-style: none;
}

.project-grid {
  width: 1030px;
  max-width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  height: 2300px;
}

.grid-item {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1002;
  -webkit-transform: translate(0,0px);
  -ms-transform: translate(0,0px);
  -o-transform: translate(0,0px);
  transform: translate(0,0px);
  opacity: 0;
}

#grid-style {
  position: absolute;
  left: 0%;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}

.home .project-grid .grid-item:nth-of-type(1) .project {
  width: 354px;
  height: 354px;
  max-width: 100%;
  top: 0px;
  float: right;
}

.home .project-grid .grid-item:nth-of-type(2) .project {
  width: 354px;
  height: 499px;
  max-width: 100%;
  top: 0px;
  float: left;
}
.home .project-grid .grid-item:nth-of-type(3) .project {
  width: 499px;
  height: 278px;
  max-width: 100%;
  /*margin-top: 75%;*/
  top: 374px;
  float: left;
}
.home .project-grid .grid-item:nth-of-type(4) .project {
  width: 499px;
  height: 354px;
  max-width: 100%;
  top: 519px;
  float: right;
}
.home .project-grid .grid-item:nth-of-type(5) .project {
  width: 354px;
  height: 499px;
  max-width: 100%;
  top: 672px;
  float: right;
}

.home .project-grid .grid-item:nth-of-type(6) .project {
  width: 499px;
  height: 354px;
  max-width: 100%;
  top: 893px;
  float: left;
}
.home .project-grid .grid-item:nth-of-type(7) .project {
  width: 499px;
  height: 354px;
  max-width: 100%;
  top: 1192px;
  float: right;
}
.home .project-grid .grid-item:nth-of-type(8) .project {
  width: 354px;
  height: 499px;
  max-width: 100%;
  top: 1192px;
  float: left;
}
.home .project-grid .grid-item:nth-of-type(9) .project {
  width: 354px;
  height: 354px;
  max-width: 100%;
  top: 1569px;
  float: right;
}
.home .project-grid .grid-item:nth-of-type(10) .project {
  width: 354px;
  height: 499px;
  max-width: 100%;
  top: 1715px;
  float: left;
}
.home .project {
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
}

.home .project-grid .grid-item .project {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  transition: .2s ease-in;
}

.home .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.home .project-grid .grid-item .project .background {
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  transition: .4s ease-in;
}

.home .project-grid .grid-item:nth-of-type(1) .project .background {
  background-size: 140%;
}

.home .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
}

.grid-position{
  position: absolute;
  left: 0%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}
.grid-position-center{
  position: absolute;
  left: 50%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}




@media screen  and (max-width: 1200px){

}

@media screen  and (max-width: 1200px){

}


@media screen  and (max-width: 1200px){

}

@media screen  and (max-width: 1060px){
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 672px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 1193px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 1193px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 1568px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 1713px;
  }
}

@media screen  and (max-width: 960px){
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 648px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 1170px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 1170px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 1547px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 1695px;
  }
}


@media screen  and (max-width: 855px){
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 615px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 1135px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 1135px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 1510px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 1655px;
  }
  .project-grid {
    height: 2200px;
  }
}

@media screen  and (max-width: 768px){
  .grid-position-center{
    left: 0%;
  }
  .grid-item {
    width: 100%;
    padding: 0;
    margin-bottom: 25vh;
  }
  .home .project-grid .grid-item .project {
    width: 100% !important;
    height: auto !important;
    padding-bottom: 100%;
  }

  /*.home .project-grid .grid-item .project .background {*/
    /*background-size: 140% !important;*/
  /*}*/

  .home .project-grid .grid-item:nth-of-type(1) .project {
    top: 0px;
  }

  .home .project-grid .grid-item:nth-of-type(2) .project {
    top: 770px;
  }
  .home .project-grid .grid-item:nth-of-type(3) .project {
    top: 1540px;
  }
  .home .project-grid .grid-item:nth-of-type(4) .project {
    top: 1990px;
  }
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 2765px;
  }
  .home .project-grid .grid-item:nth-of-type(6) .project {
    top: 3540px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 3990px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 4770px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 5540px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 6315px;
  }

  .project-grid {
    height: 7100px;
  }
}

@media screen  and (max-width: 700px){
  .content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

}


@media screen  and (max-width: 650px){
  .content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

}

@media screen  and (max-width: 600px){
  .home .project-grid .grid-item:nth-of-type(2) .project {
    top: 610px;
  }
  .home .project-grid .grid-item:nth-of-type(3) .project {
    top: 1220px;
  }
  .home .project-grid .grid-item:nth-of-type(4) .project {
    top: 1580px;
  }
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 2195px;
  }
  .home .project-grid .grid-item:nth-of-type(6) .project {
    top: 2810px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 3175px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 3790px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 4400px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 5015px;
  }

  .project-grid {
    height: 5640px;
  }
}

@media screen  and (max-width: 480px){

  .home .project-grid .grid-item:nth-of-type(2) .project {
    top: 490px;
  }
  .home .project-grid .grid-item:nth-of-type(3) .project {
    top: 982px;
  }
  .home .project-grid .grid-item:nth-of-type(4) .project {
    top: 1278px;
  }
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 1773px;
  }
  .home .project-grid .grid-item:nth-of-type(6) .project {
    top: 2270px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 2570px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 3070px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 3567px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 4063px;
  }

  .project-grid {
    height: 4550px;
  }
}

@media screen  and (max-width: 320px){

  .home .project-grid .grid-item:nth-of-type(2) .project {
    top: 320px;
  }
  .home .project-grid .grid-item:nth-of-type(3) .project {
    top: 640px;
  }
  .home .project-grid .grid-item:nth-of-type(4) .project {
    top: 835px;
  }
  .home .project-grid .grid-item:nth-of-type(5) .project {
    top: 1160px;
  }
  .home .project-grid .grid-item:nth-of-type(6) .project {
    top: 1485px;
  }
  .home .project-grid .grid-item:nth-of-type(7) .project {
    top: 1683px;
  }
  .home .project-grid .grid-item:nth-of-type(8) .project {
    top: 2010px;
  }
  .home .project-grid .grid-item:nth-of-type(9) .project {
    top: 2340px;
  }
  .home .project-grid .grid-item:nth-of-type(10) .project {
    top: 2670px;
  }

  .project-grid {
    height: 3000px;
  }
}
