<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="title">
          <h2>Jiraphon neetithamrangsee</h2>
          <p>front-End Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-profile">
          <!-- img -->
          <img src="../../assets/images/profile.png" alt="">
        </div>

      </div>
      <div class="col-md-6">
        <div class="about-item">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h3>Summary sikll</h3>
          <ul>
            <li>Developed mobile website and responsive website for clients</li>
            <li>Developed front- end application using html5 , css via sass, bootstrap and javascript</li>
            <li>Experience designing and development android application</li>
            <li>Understand and able to use functional Programming and ECMAScript2015</li>
            <li>Fast learming and interesting new technology even front-end development and UX/UI</li>
            <li>Can able to use version control (GIT)</li>
          </ul>
        </div>

        <div class="about-item">
          <div class="icon"><i class="fa fa-product-hunt"></i></div>
          <h3>Project <span>**Can see this code project on github</span></h3>
          <h4>The sea <span>( AngularJS )</span></h4>
          <div>
            <ul>
              <li>Directives</li>
              <li>Services</li>
              <li>Routing</li>
              <li>Animation</li>
            </ul>
          </div>
          <h4>HealthyFood <span>( Android )</span></h4>
          <div>
            <ul>
              <li>SQLite</li>
              <li>Expert System</li>
              <li>Rule Based System</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="about-item">
          <div class="icon"><i class="fa fa-graduation-cap"></i></div>
          <h3>Education</h3>
          <h4>Mahanakorn University of technology</h4>
          <p>(2012 - 2016)</p>
          <div>
            <ul>
              <li>B.Eng in Computer Engineering</li>
            </ul>
          </div>

          <h4>Phatthalung Techical College</h4>
          <p>(2009 - 2011)</p>
          <div>
            <ul>
              <li>Voc.Cert ing Major Computer Tenique</li>
            </ul>
          </div>
        </div>
        <div class="about-item">
          <div class="icon"><i class="fa fa-laptop"></i></div>
          <h3>Programming Skills</h3>
          <p>HTML, Javascript, CSS, Bootstrap, Jquery, PHP, Java, XML, C, C++, SQL, SQLite, Oracle</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about-item">
          <div class="icon"><i class="fa fa-commenting"></i></div>
          <h3>Internship Ecperience</h3>
          <h4>business alive co.,ltd</h4>
          <p>(June - July 2014)</p>
          <div>
            <ul>
              <li>front-End Web development</li>
              <ul>
                <li>HTML,CSS,bootstrap</li>
                <li>Photoshop, Illustrator</li>
              </ul>
            </ul>
          </div>

        </div>

        <div class="about-item">
          <div class="icon"><i class="fa fa-level-up"></i></div>
          <h3>Web stack and tool</h3>
          <h4>Intermedite</h4>
          <div>
            <ul>
              <li>TypeScript</li>
              <li>AngularJS</li>
            </ul>
          </div>
          <h4>Beginner</h4>
          <div>
            <ul>
              <li>Canvas</li>
              <li>UX/UI</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

