@import '../scss/fonts';
@import '../scss/mixins';
.header {
  margin-top: 50px;
  font-family: $raleway;
}
.title {
  padding-top: 90px;
  padding-bottom: 50px;
  h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;

  }
  p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
  }
}
.about {
  padding-top: 50px;
  font-family: $raleway;
  background-color: #f7f4f3;
}
.about-profile img {
  width: 100%;
  margin-top: 8px;
}

.about-item{
  position: relative;
  font-size: 19px;
  padding-bottom: 4px;
  padding-left: 50px;
  h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    span {
      text-transform: none;
      color: #129CF3;
      font-size: 13px;
      padding-left: 15px;
      font-weight: 600;
    }
  }
  h4 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    padding-left: 40px;
    span {
      text-transform: none;
      color: #129CF3;
      font-size: 13px;
      padding-left: 5px;
      font-weight: 600;
    }
  }
  p {
    padding-left: 40px;
    color: #727272;
    font-size: 15px;  
  }
  ul{
    li{
      color: #727272;
      font-size: 15px;   
    } 
  }
  div {
    ul{
      li{
        color: #727272;
        font-size: 15px;   
        margin-left: 40px;
      } 
    }
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    i {
      font-size: 30px;
      color: #129CF3;
      @include transition(all 1s);
    }
  }
}



