<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="title">
        <h2>Jiraphon neetithamrangsee</h2>
        <p>front-End Developer</p>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-profile">
          <!-- img -->
        </div>

      </div>
      <div class="col-md-6">
        <div class="resume">
          <div class="item">
            <div><i class="fa fa-bolt"></i></div>
            <h3>Summary sikll</h3>
            <p>Developed mobile website and responsive website for clients</p>
            <p>Developed front- end application using html5 , css via sass, bootstrap and javascript</p>
            <p>Experience designing and development android application</p>
            <p>Understand and able to use functional Programming and ECMAScript2015</p>
            <p>Fast learming and interesting new technology even front-end development and UX/UI</p>
            <p>Can able to use version control (GIT)</p>
          </div>

          <div class="item">
            <div><i class="fa fa-bolt"></i></div>
            <h3>Project</h3>
            <h2>The sea</h2>
            <p></p>
            <h2>HealthyFood</h2>
            <p></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="about">
  <div class="row">
    <div class="col-md-6 background"></div>
    <div class="col-md-6">
      <h2>jiraphon neetithamrangsee</h2>
      <h2>Front - End Developer</h2>
      <h3>Summary sikll</h3>
      <p>Developed mobile website and responsive website for clients</p>
      <p>Developed front- end application using html5 , css via sass, bootstrap and javascript</p>
      <p>Experience designing and development android application</p>
      <p>Understand and able to use functional Programming and ECMAScript2015</p>
      <p>Fast learming and interesting new technology even front-end development and UX/UI</p>
      <p>Can able to use version control (GIT)</p>
      <!-- <h3>Project</h3>
      <h2>The sea</h2>
      <p></p>
      <h2HealthyFood></h2>
      <p></p> -->
    </div>
  </div>
</div>
<div class="about">
  <div class="row">
    <div class="col-md-6">
      <p>test1</p>
      <p></p>
    </div>
    <div class="col-md-6  background2"></div>
  </div>
</div> -->