<!--<div class="back">-->

<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-lg-12">-->
    <!--<div id="content">-->
      <!--<h1>Heading</h1>-->
      <!--<p>Bunch of awesome content</p>-->
      <!--<p><b>Note: </b>Using margin:auto will not work in IE8, unless a !DOCTYPE is declared.</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="back">

</div>
<div class="row">
  <div class="col-lg-12">
    <div id="wrapper">
      <div class="conti">
      <h1>Sea, Sand & Sunshine</h1>
      <h4>You fish, swim, eat, laze around, and everyone’s so friendly. It’s such simple stuff, but… If I could stop the world and restart life, put the clock back, I think I’d restart it like this. For everyone.</h4>
    </div>
    </div>
  </div>
</div>

<!--<div class="holder" id="holder-bg">-->

<!--</div>-->

<!--<div class="center">-->
  <!--<h1>Heading</h1>-->
  <!--<p>Bunch of awesome content</p>-->
  <!--<p><b>Note: </b>Using margin:auto will not work in IE8, unless a !DOCTYPE is declared.</p>-->
<!--</div>-->


