#content {
  position: absolute;
  z-index: 20;
  text-align: center;
  padding-top: 35%;
  vertical-align: middle;
}

#wrapper {
  vertical-align: middle;
  text-align: center;
}

.conti {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  margin-top: -500px; /* Half the height */
  margin-left: -250px; /* Half the width */
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.2),
                0px 18px 23px rgba(0,0,0,0.2);
}

.back {
  position: relative;
  z-index: 0;
  height: 800px;
  background-image: url("../../assets/images/sea_1500.jpg");
  background-size: cover;
  background-position: center;
}

.holder {
  position: relative;
  height: 0;
  padding-bottom: 70%;
  z-index: 0;
}

.cover-container {
  position: relative;
  z-index: 10;
  margin: 0 auto;
}




.center {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  background: gold;
  width: 80%;
  left: 60px;
  top: 20em;
}

#holder-bg {
  background-image: url("../../assets/images/sea_1500.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;

}

h1, h4 {
  color: white;
}

h1 {
  font-size: 4em;
}
h4 {
  font-size: 1.5em;
}
@media screen  and (max-width: 1800px){
  .back {
    height: 700px;
  }

  .conti {
    margin-top: -340px; /* Half the height */
    margin-left: -480px;
  }
}
@media screen  and (max-width: 1600px){
  .back {
    height: 650px;
  }
  .conti {
    margin-top: -340px; /* Half the height */
    margin-left: -420px;
  }
}
@media screen  and (max-width: 1400px){

  .conti {
    margin-top: -340px; /* Half the height */
    margin-left: -390px;
  }
}

@media screen  and (max-width: 1200px){

  .conti {
    margin-top: -340px; /* Half the height */
    margin-left: -350px;
  }
}

@media screen  and (max-width: 992px){
  h1 {
    font-size: 3.9em;
  }
  h4 {
    font-size: 1.5em;
  }
  .back {
    height: 550px;
  }

  .conti {
    margin-top: -250px; /* Half the height */
    margin-left: -290px;
  }
}

@media screen  and (max-width: 900px){
  .conti {
    margin-top: -290px; /* Half the height */
    margin-left: -285px;
  }
}

@media screen  and (max-width: 768px){
  .back {
    height: 900px;
  }

  .conti {
    margin-top: -390px; /* Half the height */
    margin-left: -220px;
  }
}

@media screen  and (max-width: 700px){
  h1 {
    font-size: 4.2em;
  }
  h4 {
    font-size: 1.5em;
  }
  #holder-bg {
    background-image: url("../../assets/images/sea_1500_600.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;

  }

  .holder {
    position: relative;
    height: 0;
    padding-bottom: 85%;
    z-index: 1;
  }

  .back {
    height: 890px;
  }

  .conti {
    margin-top: -370px; /* Half the height */
    margin-left: -200px;
  }
}

@media screen  and (max-width: 650px){
  h1 {
    font-size: 4em;
  }
  h4 {
    font-size: 1.5em;
  }
  #holder-bg {
    background-image: url("../../assets/images/sea_1500_650.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;

  }

  .holder {
    position: relative;
    height: 0;
    padding-bottom: 95%;
    z-index: 1;
  }
  .back {
    height: 800px;
  }

  .conti {
    margin-top: -340px;
    margin-left: -190px;
  }
}

@media screen  and (max-width: 500px){
  h1 {
    font-size: 3.1em;
  }
  h4 {
    font-size: 1.2em;
  }
  #holder-bg {
    background-image: url("../../assets/images/sea_1500_500.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;

  }

  .holder {
    position: relative;
    height: 0;
    padding-bottom: 108%;
    z-index: 1;
  }

  .center {
    left: 3em;
    top: 20em;
  }

  .back {
    height: 620px;
  }

  .conti {
    margin-top: -260px; /* Half the height */
    margin-left: -150px;
  }

}
@media screen  and (max-width: 460px){
  .center {
    left: 3em;
    top: 17em;
  }
}

@media screen  and (max-width: 400px){
  h1 {
    font-size: 3em;
  }
  h4 {
    font-size: 1.1em;
  }
  .center {
    left: 2.5em;
    top: 14em;
  }
  .conti {
    margin-left: -120px;
  }
}

@media screen  and (max-width: 380px){
  .center {
    left: 2.5em;
    top: 12em;
  }
}

@media screen  and (max-width: 340px){
  h1 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 1em;
  }
  .center {
    left: 2.5em;
    top: 10em;
  }
  .conti {
    margin-left: -100px;
  }

}
@media screen  and (max-width: 320px){
  /*h1 {*/
    /*font-size: 2.5em;*/
  /*}*/
  /*h4 {*/
    /*font-size: 1em;*/
  /*}*/
  .center {
    left: 2.5em;
    top: 5em;
  }

  .back {
    height: 500px;
  }

  .conti {
    margin-top: -230px; /* Half the height */
    margin-left: -100px;
  }

}
