.background {
  position: relative;
  z-index: 0;
   height: 800px; 

   background-size: cover; 
  background-image: url("https://wallpaperscraft.com/image/sea_waves_beach_clouds_86182_1920x1080.jpg");
  background-position: center;
}
.container-fluid {
    padding: 0;
}

.single-project {
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  margin-top: 50px; 
}

.single-project .first-project {
    width: 100%;
    margin: 0;
    float: left;
    height: 90vh;
    position: relative;
  
}

.demo-sidenav-content {
  padding: 20px;
  width: 100%;
  min-height:100%;
  position: relative;
}
