<div class="content">
<div class="cta-buckets top-bleed">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="thumbnail">
        <img src="https://wallpaperscraft.com/image/sea_palm_trees_coast_stones_boulders_tropics_45933_1920x1080.jpg">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="thumbnail">
        <img src="https://wallpaperscraft.com/image/sea_surf_sky_shore_87704_1920x1080.jpg">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="thumbnail">
        <img src="https://wallpaperscraft.com/image/sea_coast_foam_rocks_sand_92497_1920x1080.jpg">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="thumbnail">
        <img src="https://wallpaperscraft.com/image/sea_shore_sky_landscape_86178_1920x1080.jpg">
      </div>
    </div>
  </div>
</div>
</div>










