.cta-buckets {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  z-index: 10;
}
img {
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media screen  and (max-width: 650px){
  .content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

}
@media screen  and (max-width: 700px){
  .content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

}
@media screen and (min-width: 768px) {
  /*.cta-buckets.top-bleed {*/
    /*top: -15rem;*/
  /*}*/
}
@media screen and (min-width: 992px) {
  .cta-buckets.top-bleed {
    top: -8rem;
  }
}

@media screen and (min-width: 1200px) {
  .cta-buckets.top-bleed {
    top: -10rem;
  }
}

@media screen and (min-width: 1400px) {
  .cta-buckets.top-bleed {
    top: -11rem;
  }
}











