<div class="single-project">
  <!-- anima fade-in -->
  <div class="first-project">
     <div class="background" [ngStyle]="{ 'background-image': 'url(' + sea.imagePath + ')'}"></div> 
    <!-- <app-holder></app-holder> -->
  </div>
  <!-- anima fade-in animation-duration: .5s-->
  <div class="project-content">
    <div class="row">
      <div class="five colums text-large offset-by-five tablet-three">
        <p>tes{{sea.desc}}</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>