<header class="header">
  <div class="header-overlay">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo text-center">
            <!-- logo -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="header-text">
            <h1>Sea, Sand & Sunshine</h1>
            <p>You fish, swim, eat, laze around, and everyone’s so friendly. It’s such simple stuff, but… If I could stop the
              world and restart life, put the clock back, I think I’d restart it like this. For everyone.</p>
          </div>
          <div class="header-btns">
            <div class="btn btn-view">
              <a href="#">View Project</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="header-girl">
            <!-- img -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>